@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSansX";
  src: url("../../public/assets/fonts/woff/IRANSansX-Medium.woff")
      format("woff"),
    url("../../public/assets/fonts/woff2/IRANSansX-Medium.woff2")
      format("woff2"),
    url("../../public/assets/fonts/woff/IRANSansX-Bold.woff") format("woff"),
    url("../../public/assets/fonts/woff/IRANSansX-DemiBold.woff") format("woff");
}
[dir="rtl"] .checkbox:checked,
[dir="rtl"] .checkbox[checked="true"],
[dir="rtl"] .checkbox[aria-checked="true"] {
  background-image: linear-gradient(
      -45deg,
      transparent 65%,
      hsl(var(--chkbg)) 65.99%
    ),
    linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
    linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      hsl(var(--chkbg)) 30%,
      hsl(var(--chkfg)) 30.99%,
      hsl(var(--chkfg)) 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%);
}

*,
*::after,
*::before {
  font-family: "IranSansX" !important;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #fcfcfc;
}
